    <div>
        <h1>Formulario de ingreso de productos</h1>
    </div>

    <div class="container fluid" style="width: 50%; padding: 3ren;">
       
    <form class="row g-3" action="/productos/form" method="post">
        <div class="col-md-6">
          <label for="inputTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="inputTitle" name="title">
        </div>
        <div class="col-md-2">
          <label for="inputPrice" class="form-label">Price</label>
          <input type="text" class="form-control" id="inputPrice" name="price">
        </div>
        <div class="col-10">
          <label for="inputCover" class="form-label">Cover URL</label>
          <input type="text" class="form-control" id="inputCover" placeholder="https://" name="thumbnail">
        </div>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>

      <button><a href="/productos">Listar productos</a></button>

    </div>