<div>
    <h1>Formulario de ingreso de productos con handlebars</h1>
</div>

<div class="container fluid" style="width: 50%; padding: 3ren;">
    
<form class="row g-3" action="/productos/form" method="post">
    <div class="col-md-6">
        <label for="inputTitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputTitle" name="title">
    </div>
    <div class="col-md-2">
        <label for="inputPrice" class="form-label">Price</label>
        <input type="text" class="form-control" id="inputPrice" name="price">
    </div>
    <div class="col-10">
        <label for="inputCover" class="form-label">Cover URL</label>
        <input type="text" class="form-control" id="inputCover" placeholder="https://" name="thumbnail">
    </div>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    </form>

    <button><a href="/productos">Listar productos</a></button>

</div>


<div class="container">
    <h1>Listado de productos</h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Precio</th>
                <th>Imagen</th>
                <th>Id</th>
            </tr>
        </thead>
        <tbody id="tablaProductos">

        </tbody>
    </table>
    <br>
    <button><a href="/productos" >Formulario de carga</a></button>

    <h2>Centro de mensajes</h2>
    <form onsubmit="return addInfo()">
      <input type="text" placeholder="nombre" id="nb" />
      <input type="text" placeholder="mensaje" id="msn" />
      <input type="submit" value="Enviar" />
    </form>
    <div id="caja"></div>

</div>




