<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>HOME</h1>
    <div class="container">
        <div class="container my-2" id="loginBox">
          <h1 id="welcome">Bienvenido</h1>
          <h3>Usuario: <%= userName %></h3>
          <h3>Nombre: <%= userNameName %></h3>
          <h3>Foto: <%= userNameFoto %></h3>
          <br>

          <button type="button" class="btn btn-primary" id="logoffButton" onclick="location.href='/api/logout'">Log off</button>
        </div>
    </div>
    
</body>
</html>